<!DOCTYPE html>
<html>
<head>
    <title>Love Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Roboto+Condensed&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
    <div id="image-container">
        <img src="images/man.png" alt="Male">
        <img src="images/heart.png" alt="Male">
        <img src="images/girl.png" alt="Male">
    </div>
    <form action="/calculator" method="post">
        <input type="text" name="you" id="name1" placeholder="Your Name"> <br>
        <input type="text" name="another" id="name2" placeholder="Your Partner's name"> <br>
        <input type="submit" value="Calculate" id="calculate"><br>
    </form>
    <div id="def-of-love">
        <p>Love between two persons is a romantic and deep emotional connection. It's a feeling of affection, attraction, and caring that goes beyond friendship. It involves trust, support, and a desire for each other's happiness. Love in this context often leads to intimacy, shared dreams, and a strong bond 💕😊...
        </p>
    </div>
</body>
</html>